{{ attach_library('ui_icons_library/ui_icons_library.admin') }}

<div class="ui-icons-wrapper">
  <div class="ui-icons-result">
    {% if search is empty %}
      {% if total > 0 %}
        <p>{{ 'Total of %total icons on your site.'|t({'%total': total}) }}</p>
      {% endif %}
    {% else %}
      {% if total > 0 %}
        <p>{{ 'Found %total icons for keyword: %search.'|t({'%total': total, '%search': search}) }}</p>
      {% else %}
        <p>{{ 'No icon found for keyword: %search.'|t({'%search': search}) }}</p>
      {% endif %}
    {% endif %}

    {% if search is empty and total == 0 and available > 0 %}
      <p>{{ 'There is a problem in search, reset this form.'|t }}</p>
    {% endif %}
    {% if search is empty and total == 0 and available == 0 %}
      <p>{{ 'Could not find any icon, update your search or reset this form.'|t }}</p>
    {% endif %}
  </div>

  <div class="ui-icons-grid">
    {% for icon_full_id, icon in icons %}
      {% set icon_id = icon_full_id|split(':')|last %}
      {% set icon_data = icon['#context'] %}

      {% set full_name = icon_data['icon_label'] ?? icon_id ~ ' - ' ~ icon_data['icon_pack_label'] %}
      {% if icon['#group'] %}
        {% set full_name = full_name ~ ' - ' ~ icon['#group']|capitalize %}
      {% endif %}

      <div class="ui-icons-item">
        <div class="ui-icons-item-inner" title="{{ full_name }}">
          {{ icon }}
          <div class="ui-icons-item-name">
            <b>{{ icon_data['icon_label'] ?? icon_id }}</b>
            {% if icon_data['icon_pack_label'] %}
              <br /><small>{{ icon_data['icon_pack_label'] }}</small>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
